.report-single-page-container {
  background: #fff;
}

.single-page-nav {
  position: fixed;
  top: -16px;
  left: -40px;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
  border-bottom: 1px solid #eee;
  background: #fff;
  /*box-shadow: 0 1px 2px 0 rgba(60,64,67,0.15);*/
}

ul {
  list-style: none;
}

.single-page-nav li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #9b9b9b;
  text-align: center;
  font-size: .9em;
  line-height: 2.8;
}

.single-page-nav .active-item {
  color: #fff;
  background: rgb(97, 146, 179);
}

.single-page-block {
  padding-top: 3.5em;
  transition: all .3s;
}

.inSwipe {
  animation: fadeIn .6s;
}

.inSwipe2 {
  animation: fadeIn2 .6s;
}


.content-page-group {
  display: flex;
  padding-top: 3.5em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-page-block {
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all .2s;
}

.content-page-block.active-content {
  width: 100% !important;
  height: auto !important;
  transform: translate3d(0, 0, 0);
}

.content-swipe-page {
  transition: all .2s;
}

.move-left {
  /*transform: translate3d(-1%, 0px, 0px);*/
}

.move-right {
  /*transform: translate3d(1%, 0px, 0px);*/
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
